<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ts.lys.yibei">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".ui.activity.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/YiBeiApp.Theme.CustomBackground">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.QuotationsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.activity.ChooseBrokerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.BindAccountActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".ui.activity.WebViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.PositionDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PendingDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PersonInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.TradeReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AccountLoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.activity.RegistActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.activity.RegisSuccessActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.ResetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PictureWebViewActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="design_width"
            android:value="750"></meta-data>
        <meta-data
            android:name="design_height"
            android:value="1334"></meta-data>

        <!--****************************友盟**************************************-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5b6159f1f29d982604000184" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
    </application>

</manifest>